* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

header .logo h1 {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: skyblue;
}

.hero {
    text-align: center;
    background-color: skyblue;
    padding: 50px 20px;
}

.hero h2 {
    color: #1d3557;
        margin-bottom: 10px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 40px;
    background-color: skyblue;
}

.card {
    text-align: center;
    
    border-radius: 0px;
    padding: 15px;
    transition: 0.3s;
}

.card img {
    width: 100%;
   
}

.card h3 {
    margin-top: 10px;
    color: black;
}

.card:hover {
    
    
}

footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 15px 0;
}